body{
    background-image:url('../video/images.jpg');
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    text-align: center;
}
.theater{
    padding: 50px 20px;
}
h1{
    font-size: 5rem;
    color: rgb(160, 159, 153);
}
.display{
    border: 12px solid #555;
    padding: 10px;
    margin: 30px auto;
    width:80%;
    background-color: rgb(150, 146, 146);
}
video{
    width: 100%;
}
button{
    padding: 10px 20px;
    font-size:1em;
    background-color: rgb(175, 166, 166);
    cursor: pointer;
    border-radius: 3px;
}
button:hover{
    background-color: brown;
}